*.pyc
*.pyo
*.class
*~
*.DS_Store
wine-py2exe/
py2exe.log
*.kate-swp
build/
dist/
MANIFEST
README.txt
esfbdata.1
esfbdata.bash-completion
esfbdata.fish
esfbdata/extractor/lazy_extractors.py
esfbdata.exe
esfbdata.tar.gz
.coverage
cover/
updates_key.pem
*.egg-info
*.srt
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.part
*.swp
test/testdata
.tox
esfbdata.zsh
.idea
.idea/*
